#include "resource.h"
#include <windows.h>

IDR_CRASHINFO RCDATA "CrashInfo\\CLEO-CrashList.txt"
IDR_CRASHINFO_RU RCDATA "CrashInfo\\CLEO-CrashList-RU.txt"

IDD_CRASH_DIALOG DIALOGEX 0, 0, 540, 310
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | DS_SETFONT | DS_CENTER
CAPTION "CLEO DebugUtils - GTA SA crash"
FONT 10, "Segoe UI"
BEGIN
    LTEXT "", -1, 12, 10, 516, 16
    EDITTEXT IDC_CRASH_DETAILS, 12, 31, 516, 215, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL | WS_BORDER
    PUSHBUTTON "Copy", IDC_CRASH_COPY, 12, 255, 90, 24
    PUSHBUTTON "Open log", IDC_CRASH_OPEN_LOG, 111, 255, 95, 24
    DEFPUSHBUTTON "Exit game", IDC_CRASH_EXIT, 410, 255, 118, 24
END
