#include "resource.h"
#include <windows.h>

IDR_CRASHINFO RCDATA "CrashInfo\\CLEO-CrashList.txt"

IDD_CRASH_DIALOG DIALOGEX 0, 0, 420, 225
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SETFONT | DS_CENTER
CAPTION "CLEO DebugUtils - GTA SA crash"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Critical GTA SA crash detected.", -1, 10, 8, 400, 12
    EDITTEXT IDC_CRASH_DETAILS, 10, 25, 400, 150, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_BORDER
    PUSHBUTTON "Copy", IDC_CRASH_COPY, 10, 183, 85, 22
    PUSHBUTTON "Open log", IDC_CRASH_OPEN_LOG, 103, 183, 85, 22
    DEFPUSHBUTTON "Exit game", IDC_CRASH_EXIT, 292, 183, 118, 22
END
